/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* regole contenitore */
.box-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

/* regole barra superiore */
.nav-top {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
    z-index: 900;
}

.function-top {
    color: white;
    margin-right: 5px;
}

.function-top span {
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

/* regole main */
.central-box {
    width: 90%;
    height: calc(100vh - 90px);
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    overflow: auto;
    background-color: #000000;
}

.col-user-cam {
    width: calc(100% / 7 - 3px);
    position: relative;
}

.central-box img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.nickname {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 10px;
    color: white;
}

/* regole barra inferiore */
.nav-bottom {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    z-index: 900;
}

.function-bottom {
    color: white;
    display: flex;
    align-items: center;
}

.end {
    background-color: #4a4a4a;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e2282d;
    font-size: 12px;
    font-weight: bold;
}

.col-bottom {
 text-align: center;
 margin: 0 10px;
 font-size: 18px;
}

.text-bottom {
    font-size: 10px;
}

.fa-share-from-square {
    color: #4bc800;
}

.fa-angle-up {
    font-size: 10px;
}




/* regole DEBUG */
/* .box-wrapper {
    background-color: red;
} */

/* .nav-top {
    background-color: blue;
} */

/* .central-box {
    background-color: aqua;
    border: 15px solid brown;
} */